<!DOCTYPE html>
<html>
  <% include ./partials/header%>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>CHAT</h1>
          <div class="userFormArea">
            <form class="userForm">
              <label>Enter Your Name:</label>
              <input id="username" autocomplete="off" /><button>Send</button>
            </form>
            <p id="errorMsg"></p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="chatArea">
                <div class="onlineUsers">
                  <h3>Online users:</h3>
                  <div class="users"></div>
                </div>
                <div class="chat">
                  <ul id="messages"></ul>
                  <form class="messageForm">
                    <input id="message" autocomplete="off" placeholder="Send Message" /><button>Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="video col-xs-6">
          <h2><%= animeTitle %></h2>
          <iframe src="<%= animeUrl %>"' width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <% include ./partials/footer%>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
